main {
    position: relative;
    width: 100%;
    text-align: center;
}

section {
    width: 100%;
    margin: 0 auto;
}

.over_sec1 {
    width: 100%;
    background-color: #091740;
    position: relative;
    margin: auto;
}

.over_sec1 > .pattern {
    width: 100%;
    height: 500px;
    margin: auto;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    opacity: 40%;
    position: relative;
}

.over_sec1 > .sec1_title {
    width: 100%;
    position: absolute;
    top: 150px;
    margin: 0 auto;

}

.sec1_title > h1 {
    text-align: center;
}

.sec1_title > h2 {
    text-align: center;
}

.nav_wrap {
    width: 100%;
    height: 49px;
    background-color: #f8d422;
    text-align: center;
}

.nav_wrap > nav > ul {
    width: 1276px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav_wrap > nav > ul > li {}

.nav_wrap > nav > ul > li > a {
    display: block;
    line-height: 45px;
}

nav > ul > li > a:hover {
    border-bottom: 4px solid #091740;
    font-weight: bold;
}

.intro {
    margin-top: 140px;
    margin-bottom: 140px;
    width: 1276px;
    text-align: center;
}

.intro_title {
    margin: 0 auto;
    padding: 30px 0 45px 0;
    text-align: center;

}

.intro img {
    border-radius: 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 45px 0;
}

.intro_title_2 {
    /* border-bottom: 3px solid #f8d422;
          border-top: 3px solid #f8d422;*/
    text-align: center;
    line-height: 70px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 140px;
}

.intro_title_2::before {
    content: '';
    width: 300px;
    height: 3px;
    background-color: #f8d422;
    display: block;
    margin: auto;
}

.intro_title_2::after {
    content: '';
    width: 300px;
    height: 3px;
    background-color: #f8d422;
    display: block;
    margin: auto;
}

.intro_title_3 {
    margin: auto;
    margin-bottom: 45px;

}



.float_l {
    float: left
}

.float_r {
    float: right
}














































/*******************1276px이하*******************/
@media only screen and (max-width: 1276px) {
    .nav_wrap > nav > ul {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .nav_wrap > nav > ul > li > a {}

    .intro {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .intro img {
        width: 100%;
        margin: 90px 0;
    }


}

/*******************780px이하*******************/
@media only screen and (max-width:780px) {

    .nav_wrap > nav > ul > li > a {
        font-size: 14px;
    }

    .intro_title {
        font-size: 24px;
    }

    .intro > h2 {
        font-size: 20px;
    }

    .intro > h3 {
        font-size: 14px;
    }

    .intro_title_2 {
        font-size: 20px;
    }

    .intro > h1 {
        font-size: 24px;
    }


}

/*******************400px이하*******************/
@media only screen and (max-width: 400px) {
    .over_sec1 > .sec1_title {
        top: 110px;

    }

    .over_sec1 > .pattern {
        height: 400px;
        background-size: cover;
    }


    .nav_wrap > nav > ul > li > a {
        font-size: 14px;
    }

    .sec1_title > h1 {
        font-size: 24px;
    }

    .sec1_title img {
        width: 50%
    }




    .intro_title {
        font-size: 20px;
    }

    .intro > h2 {
        font-size: 14px;
    }

    .intro > h3 {
        font-size: 14px;
    }

    .intro_title_2 {
        font-size: 14px;
    }

    .intro_title_2::before {
        width: 50%;

    }

    .intro_title_2::after {
        width: 50%;
    }

    .intro > h1 {
        font-size: 20px;
    }

    .intro img {
        margin: 45px 0;
        height: 250px;
    }
}
