/************************* header ****************************/

header {
    width: 100%;
    height: 70px;
    background-color: rgb(9, 23, 64, 0.6);
    position: fixed;
    z-index: 99999;
}

.header_wrap {
    width: 1276px;
    height: 70px;
    margin: auto;
}

.top_logo {
    margin-top: 18px;
    float: left;
}

header nav > ul {
    float: left;
    text-align: center;
    margin-left: 80px;
}

header nav > ul > li {
    display: inline-block;
    position: relative;
}

header nav > ul > li > a {
    display: block;
    padding: 0 30px;
    line-height: 70px;
}




header nav > ul > li:hover .depth2 {
    display: block;
}
header nav>ul>li>a:hover{
    color: #fff;
}


.depth2 {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(9, 23, 64, 0.6);
    min-width: 60%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.depth2 > li > a {
    display: block;
    line-height: 50px;
    white-space: nowrap;
    border-bottom: 1px solid #f8d422;
}

.depth2 > li > a:hover{
    color: #f8d422;
}

.join li {
    display: inline-block;
    float: right;
    line-height: 70px;
    margin-left: 10px;
}

/****************footer*************************/

footer {
    width: 100%;
    height: 215px;
    background-color: #091740;
    position: relative;
}

.footer_top {
    margin: auto;
    width: 1276px;
    height: 75px;
    border-bottom: 1px solid #acbacc;
    overflow: hidden;

}

.footerlogo > img {
    float: left;
    margin-top: 30px;

}

.footerli1 {
    float: left;
    margin-left: 900px;
    margin-top: 25px;
}

.footerli1 > ul > li {
    display: inline
}

.snslogo {
    float: right;
    margin-top: 22px;
}

.snslogo > img:last-child {
    margin-left: 15px;
}




.footer_bottom {
    margin: auto;
    width: 1276px;
    height: 136px;
    overflow: hidden;
}


.cooper {
    margin-top: 30px;
}

.cooper > img {
    height: 25px;
    margin-right: 40px;


}

.copy {
    margin-top: 20px;
    float: left;
}

.cont {
    float: right;
    overflow: hidden;

    margin-top: 35px;
}

.cont > li {
    float: left;
}
