main {
          position: relative;
          width: 100%;
          text-align: center;
}

section {
          width: 100%;
          margin: 0 auto;
}

.over_sec1 {
          width: 100%;
          background-color: #091740;
          position: relative;
          margin: auto;
}

.over_sec1 > .pattern {
          width: 100%;
          height: 400px;
          margin: auto;
          background-image: url(../img/pattern.png);
          background-repeat: repeat;
          background-position: center;
          background-size: auto;
          opacity: 40%;
          position: relative;
}

.over_sec1 > .sec1_title {
          width: 100%;
          position: absolute;
          top: 100px;
          margin: 0 auto;

}

.sec1_title > h1 {
          text-align: center;
}

.sec1_title > h2 {
          text-align: center;
}

.nav_wrap {
          width: 100%;
          height: 49px;
          background-color: #f8d422;
          text-align: center;
}

.nav_wrap > nav > ul {
          margin: auto;
}

.nav_wrap > nav > ul > li {
          display: inline-block;
          position: relative;
}

.nav_wrap > nav > ul > li > a {
          display: block;
          padding: 0 60px;
          line-height: 45px;
}

nav > ul > li > a:hover {
          border-bottom: 4px solid #091740;
          font-weight: bold;
}

.intro {
          margin-top: 140px;
          margin-bottom: 140px;
          width: 1276px;
          text-align: center;
}

.intro_title {
          margin: 0 auto;
          padding: 30px 0 45px 0;
          text-align: center;
}

.intro img {
          width: 1276px;
          margin: 140px 0;
}

.intro_title_2 {
          width: 300px;
          height: 70px;
          border-bottom: 3px solid #f8d422;
          border-top: 3px solid #f8d422;
          text-align: center;
          line-height: 70px;
          margin: auto;
          margin-bottom: 45px;
}

.intro_title_3 {
          margin: auto;
          margin-bottom: 45px;

}



.float_l {
          float: left
}

.float_r {
          float: right
}

.map_info {
          width: 1000px;
          text-align: center;
          margin: auto;
          margin-bottom: 140px;
}

.map_info_box {
          padding-left: 100px;
          display: flex;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 900px;
}

.map_info_title {
          width: 200px;


}

.map_info_txt {
          width: 600px;
          margin-left: 100px;


}

.map_info_title > h2 {
          text-align: left;
          line-height: 50px;
}

.map_info_txt > h3 {
          text-align: left;
          line-height: 50px;
}


.line_4px {
          width: 100%;
          height: 4px;
          background-color: #f8d422;
          margin-top: 45px;
}

.line_2px {
          width: 100%;
          height: 2px;
          background-color: #f8d422;
}

.bus_wrap {
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 600px;
}

.bus_wrap > div > a {
          display: block;
          width: 100%;
          border-bottom: 1px solid #f8d422;
          padding: 20px;
}

.bus_wrap > div > a > h2 {
          text-align: left;

}

.bus_wrap > div > a > span {
          float: right;
          margin-top: -20px;
          width: 0px;
          height: 0px;
          border-top: 10px solid #f8d422;
          border-bottom: 10px solid transparent;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
}
















.sec6 {
          width: 100%;
          position: relative;
          margin: 0 auto;
          background-color: #091740;
          box-sizing: border-box;
          padding: 140px 0px 140px;
}

.sec6_title {
          margin: 0 auto;
          padding: 30px 0 45px 0;
          text-align: center;
}

.sec6_contwrap {
          width: 1276px;
          height: 187px;
          overflow: hidden;
          border-bottom: 2px solid #f8d422;
          border-top: 2px solid #f8d422;
          box-sizing: border-box;
          margin: 0 auto;
}

.sec6_contwrap > .box_l {
          width: 637px;
          height: 150px;
          overflow: hidden;
          float: left;
          padding: 20px 90px;
          box-sizing: border-box;
          margin-top: 20px;
}

.middleline {
          width: 2px;
          height: 105px;
          background-color: #f8d422;
          margin-top: 41px;
          float: left;
}

.sec6_contwrap > .box_r {
          width: 637px;
          height: 150px;
          float: right;
          padding: 20px 90px;
          box-sizing: border-box;
          margin-top: 20px;
}

.sec6_contwrap h1 {
          float: left;
          line-height: 55px;
}

.sec6_contwrap h1:first-child {
          margin-right: 72px;
}

.sec6_contwrap > .box_l > .hour {
          float: right;
}

.sec6_contwrap > .box_r > .hour {
          float: right;
}

.sec6 > p {
          text-align: center;
          padding-top: 30px;
}

.gansun {
          text-align: left;
          margin: 20px;
}
